*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php


*.txt
*.xml
*.gz

datos
wp-admin
wp-includes
wp-content/languages
wp-content/upgrade
wp-content/wpcf7_*
wp-*.php
xml*.php